body { 
    background-color: red;
   display: flex;
    min-height: 100vh;
    flex-direction: column;  
      
}

main {/
    flex-grow: 1;
}
footer {
    position: sticky;
    bottom: 0;
    background-color: blue;
    margin:10px;
}