@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Ubuntu' ,sans-serif;

}

:root
{
    --blue:#287bff;
    --white:#fff;
    --grey: #f5f5f5;
    --black1:#222;
    --black2:#999;
}
a{
    text-decoration: none;
    
}
h1{
    position:relative;
    padding: 20px;
}
.logo{
    width: 100px;
    height: 100px;
}
 .profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
      
}
.profilepic{
display:grid;
place-items: center;
}
article{
    padding-left: 20px;
}


body{
min-height: 100vh;
overflow-x:hidden;
}
.container {
  position:relative;
  width: 100%;

}

.navigation{
    position:fixed;
    width:300px;
    height:100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition:0,5s;
    overflow: hidden;
}
.navigation ul {
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
}
.navigation ul li {
    position:relative;
    width:200%;
    list-style:none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.navigation ul li:hover{
   background: var(--white); 
}

.navigation ul li a {
  position:relative;
  display: flex;
  width:100%;
  /* text-decoration:none; */
  color: var(--white);
}

.navigation ul li:hover a {
   color:var(--blue);
}
.navigation ul li a .icon {
    position:relative;
    display:block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;

}
.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}
.navigation ul li a .title{
position:relative;
display: block;
padding: 0 10px;
height:60px;
line-height: 60px;
text-align: start;
white-space: nowrap;
}



    .main {
        position:absolute;
        width:calc(100% - 300px);
        left:300px;
        min-height 100vh;
        background: var(--white);
        transition:0.5s;

    }

     .cardBox{
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
    }

    .cardBox .card{
        position:relative;
        background-color: var(--white);
        padding:30px;
        border-radius: 20px;
        display:flex;
        justify-content: space-between;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);

    } 
    .cardBox .card .numbers{
        position:relative;
        font-weight: 500;
        font-size: 2.5em;
        color: var(--blue);
    }
    .cardBox .card .cardname{
        color:var(--black2);
        font-size: 1.1em;
        margin-top: 5px;
    }
    .cardBox .card .iconBox{
        font-size: 3.5em;
        color:var(--black2);
    }
    .cardBox .card:hover{
        background-color: var(--blue);
    }
    
    .cardBox .card:hover .numbers,
    .cardBox .card:hover .cardname,
    .cardBox .card:hover .iconBox{
        color: var(--white);
    }
    /*charts*/
    .graphBox {
        position:relative;
        width:100%;
        padding: 20px;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:30px;
        min-height: 200px;
    }
 
    .graphBox .box{
        position:relative;
        background:var(--white);
        padding: 20px;
        width:100%;
        box-shadow:0 7px 25px rgba(0,0,0,0.08);
        border-radius: 20px;
        
    }
    .graphBox1 {
        position:relative;
        width:100%;
        padding: 20px;
        display:grid;
        grid-template-columns: 100%;
        grid-gap:30px;
        min-height: 200px;
           }
    .graphBox1 .box{
            position:relative;
            background:var(--white);
            padding: 20px;
            width:100%;
            box-shadow:0 7px 25px rgba(0,0,0,0.08);
            border-radius: 20px;
           }